/* style.scss */


$white: #ffffff;
$gray1: #f5f5f5;
$gray2: #e2e2e2;
$gray3: #c7c7c7;
$gray4: #a7a7a7;
$gray5: #868686;
$gray6: #666666;
$gray7: #4a4a4a;
$gray8: #323232;
$gray9: #202020;
$black: #000000;

$blue: #12a2d9;
$blue-dark: #0c7197;

$bp-mobile:680px;
$bp-narrow:768px;
$bp-regular:1024px;
$bp-wide:1280px;
$bp-xwide:1440px;

$p-teal: #1ABC9C;
$p-teal-dark: #16A085;
$p-green: #2ECC71;
$p-green-dark: #27AE60;
$p-blue: #3498DB;
$p-blue-dark: #2980B9;
$p-purple: #9B59B6;
$p-purple-dark:#8E44AD;
$p-gray: #34495E;
$p-gray-light: #64798E;
$p-gray-dark:#2C3E50;
$p-yellow: #fccd10;
$p-yellow-dark:#F39C12;
$p-orange: #E67E22;
$p-orange-dark :#D35400;
$p-red: #E74C3C;
$p-red-dark: #C0392B;
$p-pink: #ec95d8;
$p-brown: #AC6D4A;  


* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
}

html, body {
  background: $gray9;
  width: 100%;
  height: 100%;
  color: white;
  font-family: Roboto, sans-serif;
  line-height: 1.2;
}

.layout {
  @media screen and (min-width: 640px) {
    display: flex;
  } 
}

.left-col {
  flex-shrink: 0;
  padding: 16px 0;
  display: flex;
  @media screen and (min-width: 640px) {
    display: block;
    width: 120px;
  }
}

.right-pad {
  display: none;
  width: 120px;
  @media screen and (min-width: 640px) {
    display: block;
    flex-shrink: 3;
  }
}

.logo {
  background: url(../img/logo-spacebear.svg) no-repeat center center;
  width: 88px;
  height: 64px;
  background-size: 48px 48px;
  flex-shrink: 0;

  @media screen and (min-width: 640px) {
    height: 88px;
    background-size: 64px 64px;
    width: 120px;
  }
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
}

p a {
  opacity: .5;
  &:hover, &.active {
    opacity: 1;
  }
}

.nav {
  padding: 16px 8px;
  flex-grow: 1;
  text-align: right;
  a {
    display: inline-block;
    font-size: 12px;
    padding: 12px 12px;
    opacity: .5;
    cursor: pointer;

    &:hover, &.active {
      opacity: 1;
    }

    &.disabled {
      pointer-events: none;
    }
  }


  @media screen and (min-width: 640px) {
    padding: 32px 8px;
    text-align: left;
    a {
      display: block;
      font-size: 12px;
      padding: 12px 12px;
    }
  }
}

.main-col {
  flex-grow: 1;
}

.page {
  padding: 16px 0;

  @media screen and (min-width: 640px) {
    padding: 32px 0;
  }
}
.co-name {
  font-size: 9px;
  text-align: center;
}

.page {
  max-width: 960px;
  margin: 0 auto;
}

.screenshot {
  width: 100%;
  background: white;
  padding-bottom: 56%;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.prod-name {
  font-size: 48px;
  padding: 16px 8px 16px 0;
  flex-grow: 1;
  font-weight: 400;
  line-height: 1.2;

  @media screen and (min-width: 640px) {
    font-size: 48px;
    padding: 32px 16px 32px 0;
  }
}

.prod-heading {
  display: flex;
  align-items: center;  
}

.buy {
  padding: 16px;
  text-align: center;
  flex-grow: 1;
  button {
    border-radius: 0;
    border: none;
    background: white;
    color: $gray9;
    height: 40px;
    font-size: 24px;
    padding: 0 16px;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;

    .desc & {
      height: 60px;
      font-size: 32px;
      padding: 0 32px;
    }

    &:active {
      opacity: .5;
    }
  }

  .price {
    padding: 12px 0;
  }

  span {
    font-size: 14px;
  }

  .via-unity {
    opacity: .5;
    font-size: 12px;
  }

  .crossout {
    text-decoration: line-through;
    opacity: .5;
    font-style: italic;
  }
}

.desc {
  padding: 32px 0;
  font-size: 24px;
  font-weight: 300;

  p {
    margin-bottom: 32px;
    line-height: 1.4;
  }
}

.product {
  border-bottom: 1px solid white;
  margin-bottom: 32px;
}
